# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.env
.venv/
env/
venv/

# Django
*.sqlite3
local_settings.py

# Node
node_modules/
dist/
.DS_Store

# Env files
.env
.env.local
.env.production
assessment_resources/
*-server.log
*-server.err.log

# Vite
*.local

# IDE
.vscode/
.idea/
